.navbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}
.navbar h2{
    color: black;
    text-decoration: none;
}
.listaNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.liNavbar{
    padding: 20px;
    border: solid 1px;
    border-radius: 5px;
    list-style: none;
    text-decoration: none;
    color: black;
}
.linkNavbar{
    text-decoration: none;
}
.linkCarrito{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.contenedorContador{
    display: flex;
    flex-direction: column;
}
.contenedorBotones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botonesContador{
    height: 50px;
    width: 50px;
}
.botonCarrito{
    border: solid 1px;
}
.divCard{
    border: 1px solid;
    color: #282c34;
    display: flex;
    flex-flow: column;
    height: 400px;
    width: 400px;
    margin: 20px;
    align-items: center;
}
.imgThumbnail{
    height: 150px;
    width: 150px;
}
.divCardList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.ulCardList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
}
.divDetail{
    border: 1px solid;
    color: #282c34;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: 20px;
    align-items: center;
}
.selectorElementos{
    width: 700px;
    height: 50px;
    border-radius: 5px;
}
.buscadorItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}